* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

/* Estilos Gerais */

body {
	font-family: "Source Sans Pro", sans-serif;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    max-width: 100%; /*Para deixar a imagem responsiva e ela se adaptar ao elemento pai*/
}

/* Mobile first - Iniciando CSS para dispositivos mobile */

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#top-bar {
    background-color: #772014;
}

#top-bar p{
    color: #fff;
    font-size: 0.8rem;
    text-align: center;
    padding: 0.5rem 2rem;
    margin-bottom: 0;
    letter-spacing: 0.1rem;
}

.container-nav {
    background-color: #19180A;
    padding: 1rem 0;
}

.hamburger-menu {
    padding: 0.2rem 1rem;
    font-size: 1rem;
    line-height: 1rem;
    color: #fff;
    background-color: transparent;
}

.container-nav button:focus{
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 0.2rem;
}

.nav-item {
    padding: 1rem 0 0 1rem;
    font-size: 0.9rem;
}

#brand {
    text-align: center;
}

#brand a{
    color: #fff;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
}

#basket {
    text-align: end;
    padding-right: 1rem;
}

#searchbar {
    background-color: #F2EDEA;
    display: flex;
    padding: 0.3rem 1rem;
}

#searchbar form {
    display: flex;
}

#searchbar form input {
    height: 2.5rem;
    padding: 0.5rem;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    background-color: #F2EDEA;
}

#searchbar form input:focus {
    border-bottom: 0.1rem solid #707070;
    color: #707070;
    outline: none;
}

#searchbar form button {
    text-align: end;
}

#searchbar img, #basket img {
    width: 25px;
}

#categories {
    display: flex;
    flex-direction: column;
}

.title-section{
    text-align: center;
}

.title-section h2{
    color: #772014;
    font-size: 1.5rem;
    padding: 3rem 1rem 1.5rem 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.title-section h2::after{
    content: "";
    display: block;
    background: #772014;
    width: 5rem;
    height: 1px;
    margin: 0.5rem auto;
}

#container-categories-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0rem 0.7rem;
}

#container-categories-items .category-item {
    text-align: center;
}

.categorie-img {
    border-radius: 50%;
    width: 80%;
    border: 1px solid #707070;
}

.category-title {
    color: #707070;
    font-size: 1.3rem;
    padding: 0.4rem 0 1rem 0;
    letter-spacing: 0.1rem;
}

#best-sellers {
    display: flex;
    flex-direction: column;
    background-color: #F6F3F3;
}

#best-sellers .product-list, #new-products .product-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0;
}

#best-sellers .best-sellers-item, #new-products .new-products-item {
    padding-bottom: 3rem;
}

.product-img {
    border: 1px solid #707070;
}

.product-list-title {
    padding-top: 1rem;
    font-size: 1.3rem;
    letter-spacing: 0.05rem;
    color: #707070;
}

.product-list-features {
    font-size: 0.9rem;
    color: #707070;
    letter-spacing: 0.02rem;
    margin-bottom: 0;
}

.product-list-price {
    padding-top: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    color: #707070;
}

.add-button, #signup-news form button {
    background-color: #772014;
    padding: 0.8rem 2rem;
    color: #fff;
    font-size: 0.8rem;
    letter-spacing: 0.2rem;
    transition: all 0.2s ease-in 0.1s;
}

.add-button:hover, #signup-news form button:hover {
    background-color: #AF4319;
}

#new-products {
    display: flex;
    flex-direction: column;
}

#signup-news {
    background-color: #F6F3F3;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 6rem 0;
}

#signup-news form {
    display: flex;
    flex-direction: column;
}

#signup-news form label {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    color: #707070;
    padding-bottom: 1rem;
}

#signup-news form input {
    height: 2.5rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    border-bottom: 0.1rem solid #707070;
}
#signup-news form input:focus {
    color: #707070;
    border: none;
    outline: #772014 solid 0.1rem;
}

#whatsApp{
    width: 60px;
    position: fixed;
    left: 1rem;
    bottom: 2rem;
    z-index: 10;
}

footer {
    height: 300px;
    background-color: #19180A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .social-media-title{
    color: #fff;
    text-align: center;
    letter-spacing: 0.1rem;
    font-size: 1.1rem;
}

#social-media-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/* Iniciando CSS para dispositivos com largura mínima de 425px */
@media (min-width:425px){

    .categorie-img {
        width: 70%;
    }

    .nav-item {
        font-size: 1rem;
        letter-spacing: 0.1rem;
    }

}

/* Iniciando CSS para dispositivos com largura mínima de 576px */
@media (min-width:576px){

    #container-nav .hamburger-menu {
        display: none;
    }

}


/* Iniciando CSS para dispositivos com largura mínima de 769px */
@media (min-width:769px){

}

/* Iniciando CSS para dispositivos com largura mínima de 1281px */
@media (min-width:1281px){
    
}