

main,.section-forms{
    margin: 40px 0
}

.btn-edit{
    background-color: #AF4319;
    padding: 7px;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}
.btn-edit:hover{
    background-color:#af4319e1;
    color: #fff;
}

.link-edit{
    color: #AF4319;
    text-decoration: underline;
}

.link-edit:hover{
    color: #19180A;
}

input{
    color: #3F220F;
    outline: none;
    box-shadow: none;
}
input:focus{
    outline: none;
    box-shadow: none;
    border-color: #fff;
}

label{
    color: #8F8F8F;
}


/***********************************

painel usuário

***************************************/



.panel-options-screen{
    display: flex;
    flex-direction: column-reverse;
}
.user-options--list{
    padding: 0;
}

.list-item{
    display: flex;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
    margin-bottom: 10px;
}

.list-item:hover{
    background-color: #FBDADC;
}

.list-item a{
    text-decoration: none;
    color: #8F8F8F;
    margin-left: 10px;
    font-size: 1.1rem;
    
}

.list-link a{
    color: #19180A;
    font-size: 18px;
}

.user-list-products, .user-personal-data{
    margin-bottom: 30px;
}

.titles-cards{
    background-color:#3F220F ;
}
.titles-cards >h3{
    color: #fff;
}
.personal-data--info > h6{
    color: #19180A;
    
}
.personal-data--info >p{
    color: #bca6a8;
    font-size: 14px;
}

.personal-data--btn{
    display: flex;
    justify-content: center;

}
 

.list-products--info  p{
    color: #19180A;
    text-align: center;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.link-edit{
    color: #AF4319;
    text-decoration: underline;
}

.link-edit:hover{
    color: #19180A;
}

.list-products--info > .link-edit{
    display: flex;
    justify-content: center;
}



/***********************************

forms personal-data

***************************************/

.save-btn{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}



/***********************************

forms changePassword

***************************************/


.password-info > h6{
    color: #19180A;
    font-weight: 700;
}

.password-info > P{
    color: #8F8F8F;
}

.password-info > P span{
    display: inline-block;
    color: #CF0E0E ;
    font-size: 18px;
    font-weight: 700;
    margin-right: 10px;
}










/***************************************

Responsividade
****************************************/
@media (min-width:767px){

.form-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 700px;
}

.form-center > h2{
    color: #19180A;
    align-self: flex-start;
    margin-bottom: 30px;
}



.active{
     background-color: #FBDADC ;
}

.list-link a{
    font-size: 20px;
}

 .user-options--screen{
    display:block
 }

 .panel-options-screen{
    flex-direction: row;
 }

 .list-item a{
    font-size: 1rem;
 }

 .personal-data--btn{
    margin-top: 10px;
    justify-content: flex-start;
 }

 .btn-edit{
    font-size: 16px;
 }

 .save-btn{
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
}
}