/* Mobile first - Iniciando CSS para dispositivos mobile */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

/* Estilos Gerais */

body {
	font-family: "Source Sans Pro", sans-serif;
    
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    max-width: 100%; /*Para deixar a imagem responsiva e ela se adaptar ao elemento pai*/
}

.btn-edit-forms{
    background-color: #AF4319;
    padding: 10px 15px;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

.btn-edit-forms:hover{
    background-color:#af4319e1;
    color: #fff;
}




/* CSS header */

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: fixed;
    top:0;
    z-index: 30;
}

#top-bar {
    background-color: #772014;
    display: none;
}

#top-bar p{
    color: #fff;
    font-size: 0.8rem;
    text-align: center;
    padding: 0.5rem 2rem;
    margin-bottom: 0;
    letter-spacing: 0.1rem;
}

.container-nav {
    background-color: #19180A;
    padding: 1rem 0;
}

.nav-item {
    font-size: 0.9rem;
}

.nav-link:hover {
    color: #fff;
}

#brand {
    text-align: center;
}

#brand a{
    color: #fff;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
}

#login {
    display: none;
}

#basket {
    text-align: end;
    padding-right: 1rem;
}

#basket img {
    width: 25px;
    padding-top: 0.4rem;
}

#searchbar {
    background-color: #F2EDEA;
    display: flex;
    padding: 0.3rem 1rem;
}

#searchbar form {
    display: flex;
}

#searchbar form input {
    height: 2.5rem;
    padding: 0.5rem;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    background-color: #F2EDEA;
}

#searchbar form input:focus {
    border-bottom: 0.1rem solid #707070;
    color: #707070;
    outline: none;
}

#searchbar form button {
    text-align: end;
}

#searchbar img {
    width: 25px;
}

/* Fim CSS header */

/* CSS footer */

footer {
    height: 300px;
    background-color: #19180A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .social-media-title{
    color: #fff;
    text-align: center;
    letter-spacing: 0.1rem;
    font-size: 1.1rem;
}

#social-media-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/* Fim CSS footer */

/* CSS botão WhatsApp */

#whatsApp{
    width: 60px;
    position: fixed;
    left: 1rem;
    bottom: 2rem;
    z-index: 10;
}

/* Fim CSS botão WhatsApp */

/* CSS home */

#carousel-mobile {
    position: relative;
    top: 7.4rem;
    margin-bottom: 8rem;
}

#carousel-tablet-desktop {
    display: none;
}

#categories {
    display: flex;
    flex-direction: column;
}

.title-section{
    text-align: center;
}

.title-section h2{
    color: #772014;
    font-size: 1.5rem;
    padding: 3rem 1rem 1.5rem 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.title-section h2::after{
    content: "";
    display: block;
    background: #772014;
    width: 5rem;
    height: 1px;
    margin: 0.5rem auto;
}

#container-categories-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0rem 0.7rem;
}

#container-categories-items .category-item {
    text-align: center;
}

.categorie-img {
    border-radius: 50%;
    width: 80%;
    border: 1px solid #707070;
}

.category-title {
    color: #707070;
    font-size: 1.3rem;
    padding: 0.4rem 0 1rem 0;
    letter-spacing: 0.1rem;
}

#best-sellers {
    display: flex;
    flex-direction: column;
    background-color: #F6F3F3;
}

#best-sellers .product-list, #new-products .product-list, #product-listing-section .product-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
}

#best-sellers .best-sellers-item, #new-products .new-products-item, #product-listing-section .product-listing-item {
    padding-bottom: 3rem;
}

.product-img {
    border: 1px solid #707070;
    min-height: 352px;
    display: flex;
    align-items: center;
}

.product-list-title {
    padding-top: 1rem;
    font-size: 1.3rem;
    letter-spacing: 0.05rem;
    color: #707070;
}

.product-list-features {
    font-size: 0.9rem;
    color: #707070;
    letter-spacing: 0.02rem;
    margin-bottom: 0;
}

.product-list-price {
    padding-top: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    color: #707070;
}

.add-button, #signup-news form button {
    background-color: #772014;
    padding: 0.8rem 2rem;
    color: #fff;
    font-size: 0.8rem;
    letter-spacing: 0.2rem;
    transition: all 0.2s ease-in 0.1s;
}

.add-button:hover, #signup-news form button:hover {
    background-color: #AF4319;
}

#new-products, #product-listing-section {
    display: flex;
    flex-direction: column;
}

#signup-news {
    background-color: #F6F3F3;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 6rem 0;
}

#signup-news form {
    display: flex;
    flex-direction: column;
}

#signup-news form label {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    color: #707070;
    padding-bottom: 1rem;
}

#signup-news form input {
    height: 2.5rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    border-bottom: 0.1rem solid #707070;
}
#signup-news form input:focus {
    color: #707070;
    border: none;
    outline: #772014 solid 0.1rem;
}

/* Fim CSS home */

/* CSS listagem de produto */

#filter-bar-mobile {
    padding: 11rem 2rem 0rem 2rem;
}

#filter-bar-tablet-desktop {
    display: none;
}

#filter-bar-mobile .btn-filter-mobile {
    padding: 0.5rem 1rem;
    border: 1px solid #772014;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    color: #772014;
    background-color: #fff;
}

/* Fim CSS listagem de produto */

/* CSS login */

#container-main-login {
    background: linear-gradient(45deg,  #772014, #3F220F, #0C0B0B);
    display: flex;
    justify-content: center;
    padding: 12rem 0 4rem 0;
}

#container-form-login {
    background-color: white;
    width: 280px;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

#container-form-login h2 {
    font-weight: 600;
    letter-spacing: 0.1rem;
    margin-bottom: 2rem;
    position: relative;
}

#container-form-login h2::before {
    content: '';
    position: absolute;
    height: 4px;
    width: 25px;
    bottom: 4px;
    left: 0px;
    border-radius: 8px;
    background: linear-gradient(45deg,  #772014, #3F220F, #0C0B0B);
}

#container-form-login form {
    display: flex;
    flex-direction: column;
}

.input-field-login {
    position: relative;
}

.input-field-login:first-child {
    margin-bottom: 1.5rem;
}

.input-field-login .underline::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
}

.input-field-login .underline::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: linear-gradient(45deg,  #772014, #3F220F, #0C0B0B);
    transform: scaleX(0);
    transition: all .3s ease-in-out;
    transform-origin: left;
}

.input-field-login input:focus ~ .underline::after {
    transform: scaleX(1);
}

.input-field-login input {
    outline: none;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    color: rgba(0, 0, 0, 0.7);
    width: 100%;
}

.input-field-login input::placeholder {
    color: #707070;
}

#container-form-login form input[type="submit"] {
    margin-top: 2rem;
    padding: 0.4rem;
    width: 100%;
    background: linear-gradient(45deg,  #772014, #3F220F, #0C0B0B);
    cursor: pointer;
    color: white;
    font-size: 0.9rem;
    font-weight: 300;
    border-radius: 4px;
    transition: all 0.3s ease;
}

#container-form-login form input[type="submit"]:hover {
    letter-spacing: 0.5px;
    background: linear-gradient(45deg,  #0C0B0B, #3F220F, #772014);
}

#container-form-login form a {
    text-align: center;
    margin-top: 1rem;
}

/* Fim CSS login */

/* CSS cadastro */

#container-signup {
    display: flex;
    justify-content: center;
    padding: 7rem 0 4rem 0;
}

#container-general-signup {
    padding: 2rem;
    width: 100%;
}

.form-description {
    font-size: 0.9rem;
    color: #707070;
    font-style: italic;
}

.container-input {
    width: 100%;
}

.container-input,
.container-input div {
    text-align: left;
    margin-bottom: 20px;
    color: #707070;
    font-size: 1rem;
    letter-spacing: 0.1rem;
}

.container-input input, select {
    color: #666666;
    text-align: left;
    border: 1px solid #ccc;
    color: #333;
    border-radius: 10px;
    width: 100%;
    padding: 10px 15px;
}

.container-formulario {
    margin: 3px auto;
}

.container-checkbox {
    font-size: 0.9rem;
    text-align: left;
    margin: 10px 1px;

}

.container-button {
    width: 100%;
    background-color: #772014;
    padding: 0.8rem 2rem;
    color: #fff;
    font-size: 0.8rem;
    letter-spacing: 0.2rem;
    transition: all 0.2s ease-in 0.1s;
    margin-top: 2rem;
}

/* Fim CSS cadastro */

/* CSS produto */
#identification {
    padding: 11rem 2rem 2rem 2rem;
}

#identification .product-name{
    text-align: center;
    padding-bottom: 1rem;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    color: #707070;
}

#identification h6{
    padding-bottom: 0.05rem;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    color: #707070;
}

#product-picture{
    text-align: center;
    padding: 0 2rem;
}

#about {
    padding: 1rem 2rem 3rem;
}

#about .price{
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    color: #707070;
}

#about .price-options {
    text-align: center;
    padding-bottom: 1rem;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    color: #707070;
}

#delivery{
    margin: 1rem 0 2rem 0;
    padding: 1rem 0.05rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F6F3F3;
}

#delivery label {
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    color: #707070;
}

#delivery input {
    height: 2.5rem;
    padding: 0.5rem;
    margin-left: 1rem;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    border-bottom: 0.1rem solid #707070;
}

#about .description{
    padding: 1rem;
    text-align: center;
    margin-top: 10%;
    background-color:#F6F3F3;
    letter-spacing: 0.1rem;
    color: #707070;
    margin-top: 3rem;
}

#about .description2{
    text-align: justify;
    margin-left: 2%;
    margin-right: 2%;
    letter-spacing: 0.1rem;
    color: #707070;
}

#about .content{
    padding: 1rem;
    text-align: center;
    background-color: #F6F3F3;
    letter-spacing: 0.1rem;
    color: #707070;
    margin-top: 3rem;
}

#about .content2{
    text-align: justify;
    margin-left: 2%;
    margin-right: 2%;
    letter-spacing: 0.1rem;
    color: #707070;
}

/* Fim CSS produto */

/* CSS checkout */

#main-checkout{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    justify-content: center;
    padding-top: 10rem;
}

#container-signup-checkout {
    height: 500px;
    width: 400px;
    background-color: #F2EDEA;
    display: flex;
    justify-content:space-evenly;
    padding: 5rem 5rem;
    flex-direction: column;
    align-items:stretch;
    margin-bottom: 2rem;
}

#container-signup-checkout h1{
    color: #868686;
    font-size: 20px;
    margin-bottom: 20px;
}

#container-signup-checkout h4{
    color:#772014;
    font-size: 12px;
    margin-bottom: 10px;
}

#container-signup-checkout form {
    display: flex;
    flex-direction:column;
    align-items:center;
    width: 100%;
    color: #707070;
}
#container-signup-checkout form input {
    width: 100%;
    height: 30px;
    padding: 0 10px;
    margin: 5px 0;
    border-radius: 4px;
    border: 1px solid grey;
}

#container-signup-checkout form label {
    color: #707070;
    font-weight: 600;
    cursor: pointer;
}

#dadosPessoais h5{
    color:#772014;
    font-size: 10px;
    margin-bottom: 10px;
}
.e-senha{
    color:#772014;
    font-size: 11px;
    margin-bottom: 12px;
}
.login-checkout {
    background:#772014;
    color: #fff;
    margin-bottom: 40px;
    width: 100%;
    height: 30px;
    align-content: center;
    align-items: center;
    cursor: pointer;
}

.register {
    width: 100%;
    height: 30px;
    background: #772014;
    color: #fff;
    margin-bottom: 40px;
    cursor: pointer;
}

#container-payment {
    height: 700px;
    width: 400px;
    background-color: #F2EDEA;
    display: flex;
    justify-content:space-evenly;
    padding: 5rem 5rem;
    flex-direction: column;
    margin-bottom: 2rem;
}

#container-payment h5{
    color:#772014;
    font-size: 12px;
    margin-bottom: 10px;
    padding: auto;
    margin: 15px 0px;
}

#container-payment h2{
    color: #868686;
    font-size: 20px;
    margin-bottom: 20px;
    padding: auto;
    margin: 20px 0px;
}

.payment form {
    padding:10px 10px;
}

.card-name {
    margin: 20px 0px;
    padding: 5px;
}

.card-name input {
    padding: 5px;
    margin: 5px 0px;
    border-radius: 4px;
    border: 1px solid grey;
}

.card-number {
    margin: 20px 0px;
}

.card-number input{
    display: flex;
    align-items:flex-start;
    width: 100%;
    color: #707070;
    padding: 5px;
    margin: 5px 0px;
    border-radius: 4px;
    border: 1px solid grey;
}

.card-validity {
    margin: 10px 5px;
}

.card-validity input{
    border-radius: 4px;
    border: 1px solid grey;
}
    
.card-code input{
    width: 30%;
    height: 30%;
    align-items: flex-end;
    padding: 5px;
    margin: 5px 5px;
    border-radius: 4px;
    border: 1px solid grey;
}

.portion-number input{
    padding: 5px;
    width: 50%;
    margin: 5px 0px;
    border-radius: 4px;
    border: 1px solid grey;
}

.cards-icons {
    display: flex;
    width: 100%;
    height: 20px;
    margin: 20px 0px;
    display: flex;
    justify-content: space-around;
}

#container-checkout {
    height: 800px;
    width: 400px;
    background-color: #F2EDEA;
    display: flex;
    justify-content:space-evenly;
    padding: 4rem 4rem;
    flex-direction: column;
    margin-bottom: 3rem;
}

.product h2 {
    display: flex;
    font-size: 14px;
}

.product img{
    width: 40%;
    height: 40%;
}

#container-checkout h1{
    color: #868686;
    font-size: 20px;
    margin-bottom: 20px;
}

#container-checkout h3{
    color:#772014;
    font-size: 15px;
    margin-bottom: 20px;
    align-items: flex-start;
    flex-direction: row;
}

.pagamento {
    flex-direction: row;
}

.cupons input{
    align-items: center;
    padding: 5px 5px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid grey;
}

.finalizar {
    padding-top: 15px;
}

.finalizar button {
    background:#772014;
    color: #fff;
    margin-bottom: 40px;
    width: 150px;
    height: 40px;
    align-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 15px;   
}

.sub {
    align-items: flex-end;
    padding-top: 10px;
}

.sub h4, h3{
    align-items: flex-end;
    font-size: 14px;    
}

.frete h4 {
    font-size: 14px;
}

.frete  {
    border-top: 1px solid grey;
    padding-top: 10px;
    font-size: 14px; 
}

.desconto {
    border-top: 1px solid grey;
    padding-top: 10px;
    font-size: 14px;
}

.desconto h3, h4 {
    font-size: 14px;
}

.total {
    display: flex;
    border-top: 1px solid grey;
    padding-top: 10px;
    font-size: 14px;
}

.total h2 {
    font-size: 18px ;
}

/* Fim CSS checkout */

/* CSS user */

#main-user, #main-myRequests, #main-address, #main-changePassword, #main-personalData {
    padding: 10rem 0 3rem 0;
    padding-top: 156px;
}

.section-forms{
    margin: 40px 0;
}


.link-edit{
    color: #AF4319;
    text-decoration: underline;
}

.link-edit:hover{
    color: #19180A;
}

label{
    color: #707070;
}

/* Fim CSS user */

/* CSS painel usuário */

.panel-options-screen{
    display: flex;
    flex-direction: column-reverse;
}
.user-options--list{
    padding: 0;
}

.list-item{
    display: flex;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
    margin-bottom: 10px;
}

.list-item:hover{
    background-color: #FBDADC;
}

.list-item a{
    text-decoration: none;
    color: #8F8F8F;
    margin-left: 10px;
    font-size: 1.1rem;  
}

.list-link a{
    color: #19180A;
    font-size: 18px;
}

.user-list-products, .user-personal-data{
    margin-bottom: 30px;
}

.titles-cards{
    background-color:#3F220F ;
}
.titles-cards >h3{
    color: #fff;
}
.personal-data--info > h6{
    color: #19180A;
    
}
.personal-data--info >p{
    color: #bca6a8;
    font-size: 14px;
}

.personal-data--btn{
    display: flex;
    justify-content: center;

}

.list-products--info  p{
    color: #19180A;
    text-align: center;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.link-edit{
    color: #AF4319;
    text-decoration: underline;
}

.link-edit:hover{
    color: #19180A;
}

.list-products--info > .link-edit{
    display: flex;
    justify-content: center;
}

/* Fim CSS painel usuário */

/* CSS forms personal-data */

.save-btn{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}


/* Fim CSS forms personal-data */

/* CSS forms changePassword */

.form-center h2{
    margin-bottom: 30px;
    
}

.password-info > h6{
    color: #19180A;
    font-weight: 700;
}

.password-info > P{
    color: #8F8F8F;
}

.password-info > P span{
    display: inline-block;
    color: #CF0E0E ;
    font-size: 18px;
    font-weight: 700;
    margin-right: 10px;
}

/* Iniciando CSS para dispositivos com largura mínima de 425px */
@media (min-width:425px){

    /* CSS home */
    .categorie-img {
        width: 70%;
    }
    /* Fim CSS home */

}

/* Iniciando CSS para dispositivos com largura mínima de 576px */
@media (min-width:576px){

}


/* Iniciando CSS para dispositivos com largura mínima de 768px */
@media (min-width:768px){

    /* CSS header */

    #top-bar {
        display: block;
    }

    .container-nav {
        order: 2;
    }

    #brand {
        order: 1;
        text-align: left;
        padding-left: 1.4rem;
    }

    #login {
        display: block;
        order: 3;
        text-align: end;
    }
    
    #login img {
        width: 29px;
        padding-top: 0.4rem;
    }

    #basket {
        order: 4;
    }

    #searchbar {
        order: 5;
    }
    
    .nav-item {
        font-size: 1rem;
        letter-spacing: 0.1rem;
    }

    /* Fim CSS header */

    /* CSS home */

    #carousel-mobile {
        display: none;
    }

    #carousel-tablet-desktop {
        display: block;
        position: relative;
        top: 9rem;
        margin-bottom: 8rem;
    }

    #categories {
        padding: 2rem 0 3rem 0;
    }

    .categorie-img {
        width: 65%;
    }

    #best-sellers .best-sellers-item, #new-products .new-products-item {
        padding: 0 1.5rem 3rem 1.5rem;
    }

    #best-sellers .product-list, #new-products .product-list, #product-listing-section .product-list {
        padding: 0 1.5rem;
    }

    .product-img {
        min-height: 310px;
    }

    /* Fim CSS home */
    
    /* CSS listagem de produto */

    #filter-bar-mobile {
        display: none;
    }

    #filter-bar-tablet-desktop {
        display: flex;
        justify-content: space-between;
        padding: 13rem 3rem 0rem 3rem;
        font-size: 0.9rem;
        letter-spacing: 0.1rem;
    }
    
    #product-listing-section .product-listing-item {
        padding: 0 1.5rem 5rem 1.5rem;
    }

    #filter-category, #filter-brand {
        width: 8rem;
        letter-spacing: 0.1rem;
        color: #707070;
        padding-left: 1rem;
    }

    #filter-order {
        width: 9rem;
        letter-spacing: 0.1rem;
        color: #707070;
        padding-left: 1rem;
    }

    /* Fim CSS listagem de produto */

    /* CSS login */

    #container-main-login {
        padding: 15rem 0 5rem 0;
    }

    #container-form-login {
        width: 380px;
    }

    /* Fim CSS login */

    /* CSS cadastro */

    #container-signup {
        padding: 10rem 0 5rem 0;
    }

    #container-general-signup {
        width: 480px;
    }

    /* Fim CSS cadastro */

    /* CSS painel usuario */

    #main-user, #main-myRequests, #main-address, #main-changePassword, #main-personalData {
        padding: 13rem 0 3rem 0;
    }

    .form-center{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 700px;
    }
    
    .form-center > h2{
        color: #19180A;
        align-self: flex-start;
        margin-bottom: 30px;
    }
    
    .active{
         background-color: #FBDADC ;
    }
    
    .list-link a{
        font-size: 20px;
    }
    
     .user-options--screen{
        display:block
     }
    
     .panel-options-screen{
        flex-direction: row;
     }
    
     .list-item a{
        font-size: 1rem;
     }
    
     .personal-data--btn{
        margin-top: 10px;
        justify-content: flex-start;
     }
    
     .btn-edit{
        font-size: 16px;
     }
    
     .save-btn{
        display: flex;
        justify-content: flex-start;
        margin-top: 30px;
    }

    /* Fim CSS painel usuario */

}

/* Iniciando CSS para dispositivos com largura mínima de 1280px */
@media (min-width:1280px){

    /* CSS header */

    .nav-item {
        letter-spacing: 0.2rem;
    }

    /* Fim CSS header */

    /* CSS home */

    .categorie-img {
        width: 50%;
    }

    .product-img {
        min-height: 260px;
    }

    /* Fim CSS home */

    /* CSS checkout */

    #main-checkout {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
        padding-top: 12rem;
    }

    /* Fim CSS checkout */

}