/* Mobile first - Iniciando CSS para dispositivos mobile */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

/* Estilos Gerais */

body {
    font-family: "Source Sans Pro", sans-serif;

}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    /*Para deixar a imagem responsiva e ela se adaptar ao elemento pai*/
}

.btn-edit-forms {
    background-color: #772014;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    font-size: 0.8rem;
    letter-spacing: 0.2rem;
    transition: all 0.2s ease-in 0.1s;
}

.btn-edit{
    align-self: center;
}

.btn-edit-login{
    background-color: #772014;
    border-radius: 10px;
    padding: 10px 80px;
    margin-top: 40px;
    color: #fff;
    font-size: 0.8rem;
    letter-spacing: 0.2rem;
    transition: all 0.2s ease-in 0.1s;
}

.btn-edit-forms:hover, .btn-edit-login:hover {
    background-color: #AF4319;
}

.underline-hover:hover {
    text-decoration: underline;    
}

/* CSS header */

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    z-index: 30;
}

#top-bar {
    background-color: #772014;
    display: none;
}

#top-bar p {
    color: #fff;
    font-size: 0.8rem;
    text-align: center;
    padding: 0.5rem 2rem;
    margin-bottom: 0;
    letter-spacing: 0.1rem;
}

.container-nav {
    background-color: #19180A;
    padding: 1rem 0;
}

.nav-item {
    font-size: 0.9rem;
}

.nav-link:hover {
    color: #fff;
}

#brand {
    text-align: center;
}

#brand a {
    color: #fff;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
}

#login {
    display: none;
}

#basket {
    text-align: end;
    padding-right: 1rem;
}

#basket img {
    width: 25px;
    padding-top: 0.4rem;
}

#searchbar {
    background-color: #F2EDEA;
    display: flex;
    padding: 0.3rem 1rem;
}

#searchbar form {
    display: flex;
}

#searchbar form input {
    height: 2.5rem;
    padding: 0.5rem;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    background-color: #F2EDEA;
}

#searchbar form input:focus {
    border-bottom: 0.1rem solid #707070;
    color: #707070;
    outline: none;
}

#searchbar form button {
    text-align: end;
}

#searchbar img {
    width: 25px;
}

/* Fim CSS header */

/* CSS header Admin*/

#header-admin{
    background-color: #19180A;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    padding: 1rem;
}

/*Fim CSS header Admin*/

/* CSS footer */

footer {
    height: 180px;
    background-color: #19180A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .social-media-title {
    color: #fff;
    text-align: center;
    letter-spacing: 0.1rem;
    font-size: 1.1rem;
}

#social-media-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/* Fim CSS footer */

/* CSS botão WhatsApp */

#whatsApp {
    width: 60px;
    position: fixed;
    left: 1rem;
    bottom: 2rem;
    z-index: 10;
}

/* Fim CSS botão WhatsApp */

/* CSS home */

#carousel-home {
    margin-top: 7.4rem;
}

#categories {
    display: flex;
    flex-direction: column;
}

.title-section {
    text-align: center;
}

.title-section h2 {
    color: #772014;
    font-size: 1.5rem;
    padding: 3rem 1rem 1.5rem 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.title-section h2::after {
    content: "";
    display: block;
    background: #772014;
    width: 5rem;
    height: 1px;
    margin: 0.5rem auto;
}

.title-section-login h2 {
    color: #772014;
    font-size: 1.5rem;
    padding: 3rem 1rem 1.5rem 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.title-section-login h2::after {
    content: "";
    display: block;
    background: #772014;
    width: 3rem;
    height: 1px;
    margin: 0.5rem auto;
}

#container-categories-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0rem 0.7rem;
}

#container-categories-items .category-item {
    text-align: center;
}

.categorie-img {
    border-radius: 50%;
    width: 80%;
    border: 1px solid #707070;
}

.category-title {
    color: #707070;
    font-size: 1.3rem;
    padding: 0.4rem 0 1rem 0;
    letter-spacing: 0.1rem;
}

#best-sellers {
    display: flex;
    flex-direction: column;
    background-color: #F6F3F3;
}

#best-sellers .product-list,
#new-products .product-list,
#product-listing-section .product-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
}

#best-sellers .best-sellers-item,
#new-products .new-products-item,
#product-listing-section .product-listing-item {
    padding-bottom: 3rem;
}

.product-img {
    border: 1px solid #707070;
    min-height: 352px;
    display: flex;
    align-items: center;
}

.product-list-title {
    padding-top: 1rem;
    font-size: 1.3rem;
    letter-spacing: 0.05rem;
    color: #707070;
}

.product-list-features {
    font-size: 0.9rem;
    color: #707070;
    letter-spacing: 0.02rem;
    margin-bottom: 0;
}

.product-list-price {
    padding-top: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    color: #707070;
}

#new-products,
#product-listing-section {
    display: flex;
    flex-direction: column;
}

#signup-news {
    background-color: #F6F3F3;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 6rem 0;
}

#signup-news form {
    display: flex;
    flex-direction: column;
}

#signup-news form label {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    color: #707070;
    padding-bottom: 1rem;
}

#signup-news form input {
    height: 2.5rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    border-bottom: 0.1rem solid #707070;
}

#signup-news form input:focus {
    color: #707070;
    border: none;
    outline: #772014 solid 0.1rem;
}

/* Fim CSS home */

/* CSS listagem de produto */

#filter-bar-mobile {
    padding: 11rem 2rem 0rem 2rem;
}

#filter-bar-tablet-desktop {
    display: none;
}

#filter-bar-mobile .btn-filter-mobile {
    padding: 0.5rem 1rem;
    border: 1px solid #772014;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    color: #772014;
    background-color: #fff;
}

/* Fim CSS listagem de produto */

/* CSS login */

#container-main-login {
    background: white;
    display: flex;
    justify-content: center;
    padding: 10rem 0 4rem 0;
}

#container-form-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    width: 90%;
    padding: 0 2rem 2rem 2rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

#container-form-login form {
    display: flex;
    flex-direction: column;
}

.container-checkon {
    padding-top: 20px;
}

.input-field-login {
    position: relative;
}

.input-field-login:first-child {
    margin-bottom: 2rem;
}

.input-field-login .underline::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
}

.input-field-login .underline::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: linear-gradient(45deg, #772014, #3F220F, #0C0B0B);
    transform: scaleX(0);
    transition: all .3s ease-in-out;
    transform-origin: left;
}

.input-field-login input:focus~.underline::after {
    transform: scaleX(1);
}

.input-field-login input {
    outline: none;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    color: rgba(0, 0, 0, 0.7);
    width: 100%;
}

.input-field-login input::placeholder {
    color: #707070;
}
    
#container-form-login form input[type="submit"]:hover {
    letter-spacing: 0.5px;
    background: linear-gradient(45deg, #0C0B0B, #3F220F, #772014);
}

#container-form-login form a {
    text-align: center;
    margin-top: 1rem;
}

.container-do-register {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

/* Fim CSS login */

/* inicio CSS carrinho de compras */

.containerCurintia {
   margin-top: 200px;
   margin-left: 75px;
    max-width: 1200px;
    margin-bottom: 0 auto;
}

.containerCurintia > h1 {
    padding: 20px 0;

}

.cart {
    display: flex;
}

.products {
    flex: 1.05;
}

.product {
    display: flex;
    width: 100%;
    height: 200px;
    overflow: hidden;
    border: 1px solid silver;
}


.product > img {
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.product > img:hover {
    transform: scale(1.04);
}

.product-info {
    padding: 20px;
    width: 100%; 
    position: relative;  
}

.product-name, .product-price, .product-offer {
    margin-bottom: 20px;
}

.product-remove {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 25px;
    cursor: pointer;
    border-radius: 5px;  
}

.product-quantity > input {
    width: 40px;
    padding: 5px;
    text-align: center;

}

div.button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

#continuar {
    margin-right: 50px;
    
}

.cart-total {
    flex: 0.25;
    margin-left: 20px;
    padding: 20px;
    height: 240px;
    border: 1px solid silver;
    border-radius: 5px;
}

.cart-total p {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    font-size: 20px;
}

.cart-total a {
    display: block;
    text-align: center;
    height: 40px;
    background-color: #772014;
    color: white;
    text-decoration: none; 
}

.cart-total a:hover {
    background-color: #3F220F;
}

@media screen and (max-width: 500px){
    .product {
        height: 150px;
    }
    .product > img {
        height: 150px;
        width: 200px;
    }
    .product-name, .product-price, .product-offer {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 900px){
    .cart {
        flex-direction: column
    }
    .cart-total {
        margin-left: 0;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1220px){
    .container {
        max-width: 95%;
    }
}
/* fim css carrinho de compras */

/* CSS cadastro */

#container-register {
    display: flex;
    justify-content: center;
    padding: 10rem 0 4rem 0;
}

#container-general-register {
    padding: 2rem;
    width: 90%;
    background-color: #fff;
    box-shadow: 5px 5px 15px rgb(0 0 0 / 20%);
    border-radius: 8px;
}

.form-description {
    font-size: 0.9rem;
    color: #707070;
    font-style: italic;
}

.container-input {
    width: 100%;
}

.container-input,
.container-input div {
    text-align: left;
    margin-bottom: 20px;
    color: #707070;
    font-size: 1rem;
    letter-spacing: 0.1rem;
}

.container-input input,
select {
    color: #666666;
    text-align: left;
    border: 1px solid #ccc;
    color: #333;
    border-radius: 10px;
    width: 100%;
    padding: 10px 15px;
}

.container-form-register {
    margin: 3px auto;
}

.container-checkbox {
    font-size: 0.9rem;
    text-align: left;
    margin: 10px 1px;
}

.container-btn-register {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container-do-login {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem 1rem 1rem 1rem;
}

/* Fim CSS cadastro */

/* CSS administrator login */

#container-main-administrator {
    background: #772014;
    display: flex;
    justify-content: center;
    padding: 12rem 0 4rem 0;
}

#container-form-administrator {
    background-color: white;
    width: 280px;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

#container-form-administrator h2 {
    font-weight: 600;
    letter-spacing: 0.1rem;
    margin-bottom: 2rem;
    position: relative;
}

#container-form-administrator h2::before {
    content: '';
    position: absolute;
    height: 4px;
    width: 25px;
    bottom: 4px;
    left: 0px;
    border-radius: 8px;
    background: #772014;
}

#container-form-administrator form {
    display: flex;
    flex-direction: column;
}

#button02 {
    margin-top: 30px;
}

.input-field-administrator {
    position: relative;
}

.input-field-administrator login:first-child {
    margin-bottom: 1.5rem;
}

.input-field-administrator .underline::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
}

.input-field-administrator .underline::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: #772014;
    transform: scaleX(0);
    transition: all .3s ease-in-out;
    transform-origin: left;
}

.input-field-administrator input:focus~.underline::after {
    transform: scaleX(1);
}

.input-field-administrator input {
    outline: none;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    color: rgba(0, 0, 0, 0.7);
    width: 100%;
}

.input-field-administrator input::placeholder {
    color: #707070;
}

#container-form-administrator form input[type="submit"] {
    margin-top: 2rem;
    padding: 0.4rem;
    width: 100%;
    background: #772014;
    cursor: pointer;
    color: white;
    font-size: 0.9rem;
    font-weight: 300;
    border-radius: 4px;
    transition: all 0.3s ease;
}

#container-form-administrator form input[type="submit"]:hover {
    letter-spacing: 0.5px;
    background: #772014;
}

/* Fim CSS administrator login */

/* Início CSS administrador produto */

#admin-products-bgc{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.admin-products-title{
    color: #707070;
    padding: 120px 0 0 0;
    text-align: center;
}


.admin-products-add{
    color: #707070;
    padding: 20px 0;
    text-align: center;
}


#admin-products-add-1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px
}

#admin-products-add-1 input{
    border: 1px solid #0C0B0B;
    margin-bottom: 15px;
    padding: 5px;
}

#admin-products-list{
    padding: 50px 0;
    overflow-x: auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#admin-products-list .table-admin-products{
    border-collapse: collapse;
}

thead{
    background-color: #3F220F;
    color: white;
}

th, td {
    border: 1px solid black;
    padding: 10px;
}

tr:nth-child(even){
    background-color: #bca6a8;
}

/* Fim CSS administrador produto */

/* CSS produto */
#identification {
    padding: 11rem 2rem 2rem 2rem;
}

#identification .product-name {
    text-align: center;
    padding-bottom: 1rem;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    color: #707070;
}

#identification h6 {
    padding-bottom: 0.05rem;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    color: #707070;
}

#product-picture {
    text-align: center;
    padding: 0 2rem;
}

#about {
    padding: 1rem 2rem 3rem;
}

#about .price {
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    color: #707070;
}

#about .price-options {
    text-align: center;
    padding-bottom: 1rem;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    color: #707070;
}

#delivery {
    margin: 1rem 0 2rem 0;
    padding: 1rem 0.05rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F6F3F3;
}

#delivery label {
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    color: #707070;
}

#delivery input {
    height: 2.5rem;
    padding: 0.5rem;
    margin-left: 1rem;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    border-bottom: 0.1rem solid #707070;
}

#about .description {
    padding: 1rem;
    text-align: center;
    margin-top: 10%;
    background-color: #F6F3F3;
    letter-spacing: 0.1rem;
    color: #707070;
    margin-top: 3rem;
}

#about .description2 {
    text-align: justify;
    margin-left: 2%;
    margin-right: 2%;
    letter-spacing: 0.1rem;
    color: #707070;
}

#about .content {
    padding: 1rem;
    text-align: center;
    background-color: #F6F3F3;
    letter-spacing: 0.1rem;
    color: #707070;
    margin-top: 3rem;
}

#about .content2 {
    text-align: justify;
    margin-left: 2%;
    margin-right: 2%;
    letter-spacing: 0.1rem;
    color: #707070;
}

/* Fim CSS produto */

/* CSS checkout */

#main-checkout {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10rem;
}

#container-signup-checkout {
    height: 550px;
    width: 400px;
    background-color: #F2EDEA;
    display: flex;
    padding: 3rem 5rem;
    flex-direction: column;
    align-items: stretch;
    align-items: center;
    margin-bottom: 2rem;
}

#container-signup-checkout h1 {
    color: #868686;
    font-size: 20px;
    margin-bottom: 20px;
}

#container-signup-checkout h4 {
    color: #772014;
    font-size: 15px;
    margin-bottom: 10px;

}

.container-input input {
    padding: 10px 15px;
    margin: 5px 0px;
    border-radius: 4px;
    border: 1px solid grey;
}

.container-input-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: #707070;
}

.margin-bottom-0 {
    margin-bottom: 0;
}

.e-senha {
    width: 100%;
    text-align: right;
    margin-bottom: 20px;
}

.e-senha a{
    color: #772014;
    font-size: 0.9rem;
}

#container-payment {
    height: 800px;
    width: 400px;
    background-color: #F2EDEA;
    display: flex;
    padding: 3rem 5rem;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 4rem;
}

#container-payment h5 {
    color: #772014;
    font-size: 15px;
    margin-bottom: 10px;
}

#container-payment h2 {
    color: #868686;
    font-size: 20px;
    margin-bottom: 20px;
}

.payment form {
    padding: 10px 0;
}

.card-name {
    margin: 20px 0px;
}

.card-name input {
    padding: 10px 15px;
    margin: 5px 0px;
    border-radius: 4px;
    border: 1px solid grey;
    width: 100%;
}

.card-number {
    margin: 20px 0px;
}

.card-number input {
    width: 100%;
    color: #707070;
    padding: 10px 15px;
    margin: 5px 0px;
    border-radius: 4px;
    border: 1px solid grey;
}

.card-validity {
    margin: 20px 0px;
}

.card-validity input {
    border-radius: 4px;
    padding: 10px 15px;
    border: 1px solid grey;
    margin: 5px 0px;
    width: 100%;
}


.card-code {
    margin: 20px 0px;
}

.card-code input {
    width: 50%;
    padding: 10px 15px;
    border-radius: 4px;
    border: 1px solid grey;
    margin: 5px 0px;
}

.portion-number input {
    padding: 10px 15px;
    width: 50%;
    margin: 5px 0px;
    border-radius: 4px;
    border: 1px solid grey;
    width: 100%;
}

.cards-icons {
    width: 100%;
    height: 20px;
    margin: 30px 0px;
    display: flex;
    justify-content: space-around;
}

.outhers {
    display: flex;
    justify-content: space-between;
}


#container-checkout {
    height: 670px;
    width: 400px;
    background-color: #F2EDEA;
    display: flex;
    padding: 3rem 5rem;
    flex-direction: column;
    margin-bottom: 3rem;
}

.container-prod {
    margin-bottom: 30px;

}

.product {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    margin-bottom: 20px;
}

.product h2 {
    display: flex;
    font-size: 16px;
    margin-bottom: 30px;
}


#container-checkout h1 {
    color: #868686;
    font-size: 20px;
    margin-bottom: 20px;
}

#container-checkout h3 {
    color: #772014;
    font-size: 15px;
    align-items: flex-start;
    flex-direction: row;
}

.sub-pay {
    flex-direction: row;
}

.cupons input {
    padding: 10px 15px;
    margin: 5px 0px;
    border-radius: 4px;
    border: 1px solid grey;
    margin-bottom: 30px;
    width: 100%;
}

.finalizar {
    padding-top: 15px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    display: flex;
    width: 100%;
}

.sub {
    align-items: flex-end;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.sub h4,
h3 {
    align-items: flex-end;
    font-size: 14px;
}

.frete h4 {
    font-size: 14px;
}

.frete {
    border-top: 1px solid grey;
    padding-top: 10px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.desconto {
    border-top: 1px solid grey;
    padding-top: 10px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.desconto h3,
h4 {
    font-size: 14px;
}

.total {
    display: flex;
    border-top: 1px solid grey;
    padding-top: 10px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.total h2 {
    font-size: 18px;
}

/* Fim CSS checkout */

/* CSS contact */



/* Fim CSS contact */

/* CSS user */

#main-user,
#main-myRequests,
#main-address,
#main-changePassword,
#main-personalData {
    padding: 10rem 0 3rem 0;
    padding-top: 156px;
}

.section-forms {
    margin: 40px 0;
}


.link-edit {
    color: #AF4319;
    text-decoration: underline;
}

.link-edit:hover {
    color: #19180A;
}

label {
    color: #707070;
}

/* Fim CSS user */

/* CSS painel usuário */

.panel-options-screen {
    display: flex;
    flex-direction: column;
}

.user-options--list {
    padding: 0;
}

.img-user{
   margin-bottom: 30px;
}

.img-user .img{
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
}

.img{
    display: flex;
    flex-direction: column;
    align-items: center;
}





.img-user-login{
    margin-top: 30px;
}


.img-user-login a,
.img a{
    color: #19180A;
}

.img-user-login a:hover,
.img a:hover{
    text-decoration: underline;
}
.list-item {
    display: flex;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
    margin-bottom: 10px;
}

.list-item:hover {
    background-color: #FBDADC;
}

.list-item a {
    text-decoration: none;
    color: #8F8F8F;
    margin-left: 10px;
    font-size: 1.1rem;
}

.list-link a {
    color: #19180A;
    font-size: 18px;
}

.user-list-products,
.user-personal-data {
    margin-bottom: 30px;
}

.titles-cards {
    background-color: #3F220F;
}

.titles-cards>h3 {
    color: #fff;
}

.personal-data--info>h6 {
    color: #19180A;

}

.personal-data--info>p {
    color: #bca6a8;
    font-size: 14px;
}

.personal-data--btn {
    display: flex;
    justify-content: center;

}

.list-products--info p {
    color: #19180A;
    text-align: center;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.link-edit {
    color: #AF4319;
    text-decoration: underline;
}

.link-edit:hover {
    color: #19180A;
}

.list-products--info>.link-edit {
    display: flex;
    justify-content: center;
}

.card-title {
    font-size: 1.4rem;
}

/* Fim CSS painel usuário */

/* CSS forms personal-data */

.save-btn {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}


/* Fim CSS forms personal-data */

/* CSS forms changePassword */

.form-center h2 {
    margin-bottom: 30px;

}

.password-info>h6 {
    color: #19180A;
    font-weight: 700;
}

.password-info>P {
    color: #8F8F8F;
}

.password-info>P span {
    display: inline-block;
    color: #CF0E0E;
    font-size: 18px;
    font-weight: 700;
    margin-right: 10px;
}

/* Fim CSS forms changePassword */

/* CSS not-found */

#not-found-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 11rem 1rem 2rem 1rem;
    text-align: center;
    color: #772014;
    letter-spacing: 0.1rem;
}

#not-found-text h1 {
    font-size: 1rem;
    padding-bottom: 1rem;
}

#not-found-text h2 {
    font-size: 1.1rem;
}

#not-found-img {
    display: flex;
    justify-content: center;
    padding: 2rem 0 2rem 0;
}

#not-found-img img {
    width: 40%;
}

/* Fim CSS not-found */

/* CSS about */

#about-company, #blog-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8rem 2rem 2rem 2rem;
    color: #707070;
    letter-spacing: 0.1rem;
}

.text-about-company {
    padding-bottom: 1rem;
}

.img-about-company {
    padding-bottom: 2rem;
}

/* Fim CSS about */

/* CSS blog */

#container-cafe-news {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cafe-news-item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    margin: 0 0.5rem 2rem 0.5rem;
}

.cafe-news-item a {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cafe-news-item h3 {
    font-size: 1.1rem;
    color: #707070;
    letter-spacing: 0.1rem;
    text-align: center;
    padding: 1rem 0.5rem;    
}

/* Fim CSS blog */

/* Iniciando CSS para dispositivos com largura mínima de 425px */
@media (min-width:425px) {

    /* CSS home */
    .categorie-img {
        width: 70%;
    }

    /* Fim CSS home */

}

/* Iniciando CSS para dispositivos com largura mínima de 576px */
@media (min-width:576px) {

}


/* Iniciando CSS para dispositivos com largura mínima de 768px */
@media (min-width:768px) {

    /* CSS header */

    #top-bar {
        display: block;
    }

    .container-nav {
        order: 2;
    }

    #brand {
        order: 1;
        text-align: left;
        padding-left: 1.4rem;
    }

    #login {
        display: block;
        order: 3;
        text-align: end;
    }

    #login img {
        width: 29px;
        padding-top: 0.4rem;
    }

    #basket {
        order: 4;
    }

    #searchbar {
        order: 5;
    }

    .nav-item {
        font-size: 1rem;
        letter-spacing: 0.1rem;
    }

    /* Fim CSS header */

    /* CSS home */

    #carousel-home {
        margin-top: 9rem;
    }

    #categories {
        padding: 2rem 0 3rem 0;
    }

    .categorie-img {
        width: 65%;
    }

    #best-sellers .best-sellers-item,
    #new-products .new-products-item {
        padding: 0 1.5rem 3rem 1.5rem;
    }

    #best-sellers .product-list,
    #new-products .product-list,
    #product-listing-section .product-list {
        padding: 0 1.5rem;
    }

    .product-img {
        min-height: 310px;
    }

    /* Fim CSS home */

    /* CSS listagem de produto */

    #filter-bar-mobile {
        display: none;
    }

    #filter-bar-tablet-desktop {
        display: flex;
        justify-content: space-between;
        padding: 13rem 3rem 0rem 3rem;
        font-size: 0.9rem;
        letter-spacing: 0.1rem;
    }

    #product-listing-section .product-listing-item {
        padding: 0 1.5rem 5rem 1.5rem;
    }

    #filter-category,
    #filter-brand {
        width: 8rem;
        letter-spacing: 0.1rem;
        color: #707070;
        padding-left: 1rem;
    }

    #filter-order {
        width: 9rem;
        letter-spacing: 0.1rem;
        color: #707070;
        padding-left: 1rem;
    }

    /* Fim CSS listagem de produto */

    /* CSS login */

    #container-main-login {
        padding: 14rem 0 5rem 0;
    }

    #container-form-login {
        width: 380px;
    }

    /* Fim CSS login */

    /* CSS cadastro */

    #container-register {
        padding: 13rem 0 5rem 0;
    }

    #container-general-register {
        width: 480px;
        padding-top: 0;
    }

    /* Fim CSS cadastro */

    /* CSS painel usuario */

    #main-user,
    #main-myRequests,
    #main-address,
    #main-changePassword,
    #main-personalData,
    #main-car {
        padding: 13rem 0 3rem 0;
    }

    .form-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 700px;
    }

    .form-center>h2 {
        color: #19180A;
        align-self: flex-start;
        margin-bottom: 30px;
    }

    .active {
        background-color: #FBDADC;
    }

    .list-link a {
        font-size: 20px;
    }

    .user-options--screen {
        display: block
    }

    .panel-options-screen {
        flex-direction: row;
    }

    .list-item a {
        font-size: 1rem;
    }

    .personal-data--btn {
        margin-top: 10px;
        justify-content: flex-start;
    }

    .btn-edit {
        font-size: 16px;
    }

    .save-btn {
        display: flex;
        justify-content: flex-start;
        margin-top: 30px;
    }

    .card-title {
        font-size: 1.7rem;
    }

    /* Fim CSS painel usuario */

    /* CSS not-found */

    #not-found-main {
        flex-direction: row;
        align-items: flex-end;
        padding: 18rem 3rem 10rem 3rem;
    }

    #not-found-text {
        width: 60%;
    }

    #not-found-text h1 {
        font-size: 1.1rem;
        padding-bottom: 1.1rem;
    }

    #not-found-text h2 {
        font-size: 1.2rem;
        margin-bottom: 0;
    }

    #not-found-img {
        width: 40%;
        padding: 0;
    }

    #not-found-img img {
        width: 42%;
    }

    /* Fim CSS not-found */

    /* CSS about */

    #about-company, #blog-section {
        padding: 10rem 2rem 2rem 2rem;
    }

    .img-about-company {
        text-align: center;
    }

    /* Fim CSS about */

}

/* Iniciando CSS para dispositivos com largura mínima de 1024px */
@media (min-width:1024px) {

    /* CSS about */

    #about-company {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 11rem 2rem 4rem 2rem;
    }

    .text-about-company {
        padding-right: 2rem;
    }

    .img-about-company {
        padding-left: 2rem;
    }

    /* Fim CSS about */

}

/* Iniciando CSS para dispositivos com largura mínima de 1280px */
@media (min-width:1280px) {

    /* CSS header */

    .nav-item {
        letter-spacing: 0.2rem;
    }

    /* Fim CSS header */

    /* CSS home */

    .categorie-img {
        width: 50%;
    }

    .product-img {
        min-height: 260px;
    }

    /* Fim CSS home */

    /* CSS checkout */

    /* CSS Product*/

    .productconfig {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: center;
    }

    .productconfig .column1product {
        display: block;
    }

    .productconfig .column2product {
        display: block;
        width: 50%;
    }

    /* Fim CSS product */

    #main-checkout {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
        padding-top: 12rem;
    }

    /* Fim CSS checkout */

    /* CSS cadastro */

    #container-signup {
        padding: 14rem 0 5rem 0;
    }

    /* Fim CSS cadastro */

    /* CSS not-found */

    #not-found-main {
        padding: 16rem 3rem 12rem 3rem;
    }

    #not-found-img {
        justify-content: left;
    }

    #not-found-img img {
        width: 32%;
    }

    /* Fim CSS not-found */

}