<%- include("./partials/head")%>
<%- include("./partials/header")%>
<body>
    <main id="error-page-main">
        <div id="error-page-text">
            <h2><%= message %></h2>
        </div>
    </main>
<%- include("./partials/scriptBootstrap")%>
</body>