<%- include("./partials/head")%>
<header>
  <div id="header-admin">
      <p>CAFÉ HOUSE | SISTEMA DE GESTÃO</p>
  </div>
</header>

<body>
    <main id="container-main-admin">
      <section id="container-form-admin">
        <div class="title-section title-section-login">
          <h2>Login Admin</h2>
        </div>
        <% if(locals.error){ %>
          <p class="alert-form"><%= error.message %></p>
          <% } %>
      </div>
        <form action="/admin/login" method="POST">
          <div class="input-field-admin">
            <input type="email" name="email" id="email" placeholder="Digite seu e-mail" required>
            <div class="underline"></div>
          </div>
          <div class="input-field-admin">
            <input type="password" name="password" id="password" placeholder="Digite sua senha" required>
            <div class="underline"></div>
          </div>
          <button type="submit" class="btn-edit-forms">Entrar</button>
        </form>
      </section>
    </main>
</body>