<%- include("./partials/head")%>
<%- include("./partials/header")%>

<body>
    <main id="main-admin-products">
            <h2 class="admin-products-add">Adicionar Produto</h2>
            <div id="admin-products-bgc">
                <form id="admin-products-add-1" action="/admin/produtos/cadastro" method="POST" enctype="multipart/form-data">
                    <input type="text" name="title" id="title" placeholder="Produto">
                    <label for="image">Foto do produto</label>
                    <input type="file" name="image" id="image">
                    <input type="text" name="brand" id="brand" placeholder="Marca">
                    <input type="text" name="flavor" id="flavor" placeholder="Sabor">
                    <input type="text" name="roast" id="roast" placeholder="Torra">
                    <textarea name="description" id="description" cols="30" rows="10" placeholder="Descrição"></textarea>
                    <input type="text" name="content" id="content" placeholder="Conteúdo da embalagem">
                    <input type="text" name="format" id="format" placeholder="Formato do produto">
                    <input type="text" name="price" id="price" placeholder="Preço">
                    <select name="installment">
                        <option disabled selected>Parcelamento</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                    <input type="text" name="sku" id="sku" placeholder="Código">
                    <input type="text" name="quantity" id="quantity" placeholder="Quantidade em estoque">
                    <select name="category">
                        <option disabled selected>Categoria</option>
                        <option value="Grãos">Grãos</option>
                        <option value="Moídos">Moídos</option>
                        <option value="Cápsulas">Cápsulas</option>
                        <option value="Sachês">Sachês</option>
                    </select>
                    <select name="bestseller">
                        <option disabled selected>Destacar em Mais Vendidos?</option>
                        <option value="true">Sim</option>
                        <option value="false">Não</option>
                    </select>
                    <select name="newproduct">
                        <option disabled selected>Destacar em Lançamentos?</option>
                        <option value="true">Sim</option>
                        <option value="false">Não</option>
                    </select>
                    <select name="active">
                        <option disabled selected>Ativar produto?</option>
                        <option value="true">Sim</option>
                        <option value="false">Não</option>
                    </select>
                    <div class= "admin-product-btn">
                            <button type="submit" class="btn-edit-forms">Adicionar</button>
                    </div>
                </form>
            </div>            
    </main>
</body>