<%- include("./partials/head")%>
<%- include("./partials/header")%>

<main>
    <section id="about-company">
        <div class="title-section col-12">
            <h2>Sobre Nós</h2>
        </div>
        <div class="text-about-company col-lg-6 col-xl-5">           
            <p>A Café House é um e-commerce criado por quem ama café, para convocar todos os coffee lovers a se apaixonarem ainda mais pela bebida. Cuidamos com muito carinho de cada detalhe, desde a seleção dos grãos, a experiência do site e até como o pedido chega em sua casa.</p>

            <p>É nosso compromisso levar até você, seja aonde estiver, todas as tendências, inovações e os mais raros e premiados cafés. Nossa equipe de curadoria está diariamente em busca dos melhores cafés especiais das regiões produtoras mais tradicionais do Brasil e do Mundo.</p>
                
            <p>Se você é #MovidoACafé este é o seu novo lugar!</p>
        </div>
        <div class="img-about-company col-lg-6 col-xl-5">
            <img src="/img/img_sobre.jpg" alt="Colheita de café">
        </div>
    </section>

<%- include("./partials/footer")%>