<%- include("./partials/head")%>
<%- include("./partials/header")%>

<main>
    <section id="blog-section">
        <div class="title-section col-12">
            <h2>Blog</h2>
        </div>
        <div id="container-cafe-news">
            <div class="cafe-news-item col-12 col-md-5 col-lg-3">
                <a href="">             
                    <img src="/img/img_blog01.png" alt="">
                    <h3 class="underline-hover">Conheça 7 mitos e verdades das máquinas de café</h3>   
                </a>       
            </div>
            <div class="cafe-news-item col-12 col-md-5 col-lg-3">
                <a href="">             
                    <img src="/img/img_blog02.png" alt="">
                    <h3 class="underline-hover">Coffee to go: conheça as cafeterias delivery que estão fazendo sucesso no Brasil</h3>   
                </a>       
            </div>
            <div class="cafe-news-item col-12 col-md-5 col-lg-3">
                <a href="">             
                    <img src="/img/img_blog03.png" alt="">
                    <h3 class="underline-hover">Você sabia que é possível economizar com uma máquina de café profissional?</h3>   
                </a>       
            </div>
        </div>        
    </section>

<%- include("./partials/footer")%>