<%- include("./partials/head")%>
<%- include("./partials/header")%>
<main id = "main-car" >
<div class="bg-light">
    <div class="content-car">
        <section class="add-car">
            <input type="text" id="nomeDoItem" placeholder="Novo item...">
            <button type ="btn" class="btn-edit-forms">Adicionar</button>
        </section>

        <section class="car-list">
            <!-- Aqui ficam os itens -->

        </section>
        <a href = "checkout.ejs">
        <div class ="button">
        <button type="submit" class = "btn-edit-forms" >Finalizar Compras</button>
        </a>
        </div>
    </div>      
    </div>
</div>
</main>
    <!-- <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    <script src="js/script.js"></script> -->


<%- include("./partials/footer")%>
