<%- include("./partials/head")%>
<%- include("./partials/header")%>

<aside>
    <div class = "cart--area">
        <div class = "menu-closer">
            <span class = "material-icons">close</span>
        </div>
        <h1>Produtos Escolhidos</h1>
        <div class = "cart"></div>
        <div class = "cart-details">
            <div class = "cart--totalitem subtotal">
                <span>Subtotal</span>
                <span> R$ --</span>
            </div>
            <div class = "cart--totalitem desconto">
                <span>Desconto (-10%)</span>
                <span> R$  --</span>
            </div>
            <div class = "cart--finalizar">Finalizar a compra</div>
        </div>
    </div>
</aside>




<%- include("./partials/footer")%>