<%- include("./partials/head")%>
<%- include("./partials/header")%>
<main id = "main-car" >
<div class="bg-light">
    <div class="content-car">
        <section class="add-car">
            <input type="text" id="nomeDoItem" placeholder="Novo item...">
            <button type ="btn" class="btn-edit-forms">Adicionar</button>
        </section>

        <section class="car-list">
            <select name = "escolher-quantidades" id = "escolher-quantidades">
                <option value selecte disabled> Selecione </option>
                <option value = "number"> 1 </option>
                <option value = "number"> 2 </option>
                <option value = "number"> 3 </option>
                <option value = "number"> 4 </option>
                <option value = "number"> 5 </option>
                <option value = "number"> 6 </option>
                <option value = "number"> 7 </option>
                <option value = "number"> 8 </option>
                <option value = "number"> 9 </option>
                <option value = "number"> 10 + </option>
            </select>
            <!-- Aqui ficam os itens -->

        </section>
        <div class ="button">
            <a href = "/produtos">
                <button type="submit" id = "continuar" class = "btn-edit-forms" >Continuar Comprando</button>
            </a>
            <a href = "/checkout">
                <button type="submit" id = "finalizar" class = "btn-edit-forms" >Finalizar Compras</button>
            </a>
        </div>
    </div>      
    </div>
</div>
</main>
    <!-- <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    <script src="js/script.js"></script> -->


<%- include("./partials/footer")%>
