<%- include("./partials/head")%>
<%- include("./partials/header")%>

<main id="main-changePassword">
  <section class="section-forms">
    <div class="container-md form-center">
      <h2>Alterar senha</h2>
      <form action="POST" class="row">
        <div class=" container-input col-md-12">
          <label for="password">Nova senha*</label>
          <input type="password" id="password" placeholder="senha">
          
        </div>
        <div class="container-input col-md-12 ">
          <label for="confirm-password">Confirmar nova senha*</label>
          <input type="password" class="" id="confirm-password" placeholder="senha">
          
        </div>
        <div class="password-info">
          <h6>Sua senha deve conter:</h6>
          <p><span>x </span>Mínimo de 8 caracteres</p>
          <p><span>x </span>Pelo menos 1 número</p>
          <p><span>x</span> Pelo menos 1 letra</p>
        </div>
        <div class="save-btn">
          <input type="submit" value="Salvar nova senha" class="btn-edit-forms">
        </div>
      </form>
    </div>
  </section>

<%- include("./partials/footer")%>