<%- include("./partials/head")%>
<%- include("./partials/header")%>

<main id="main-changePassword">
  <section class="section-forms">
    <div class="container-md form-center">
      <h2>Alterar senha</h2>
      <form action="POST" class="row">
        <div class="form-floating mb-3 mt-3">
          <input type="password" class="form-control" id="password" placeholder="senha">
          <label for="password" class="ps-4">Nova senha</label>
        </div>
        <div class="form-floating mb-5">
          <input type="password" class="form-control" id="confirm-password" placeholder="senha">
          <label for="confirm-password" class="ps-4">Confirmar nova senha</label>
        </div>
        <div class="password-info">
          <h6>Sua senha deve conter:</h6>
          <p><span>x </span>Mínimo de 8 caracteres</p>
          <p><span>x </span>Pelo menos 1 número</p>
          <p><span>x</span> Pelo menos 1 letra</p>
        </div>
        <div class="save-btn">
          <input type="submit" value="Salvar nova senha" class="btn-edit-forms">
        </div>
      </form>
    </div>
  </section>

<%- include("./partials/footer")%>