<%- include("./partials/head")%>
<%- include("./partials/header")%>

<main id="main-checkout">
  <div class="title-section col-12">
    <h2>Falta pouco para finalizar seu pedido</h2>
  </div>
  <section id="container-signup-checkout">
    <div>
      <h1>1.DADOS PESSOAIS</h1>
      <h4> FAÇA SEU LOGIN</h4>
      <form action="/login" method="" class="container-input-form">
        <div class="container-input">
          <label for="email-id">E-mail</label>
          <input type="email" name="email" id="email-id" />
        </div>
        <div class="container-input margin-bottom-0">
          <label for="password-id">Senha</label>
          <input type="password" name="password" id="password-id" />
        </div>
      <div class="e-senha">
        <a href="" class="underline-hover">Esqueci minha senha</a>
      </div>
      <div class="col-12">
        <button type="submit" class="btn-edit-forms col-12">Entrar</button>
      </div>
    </form>
      <div>
        <h4 class="pt-4 text-center"> CRIAR UMA NOVA CONTA</h4>
        <a href="/registro">
          <button type="submit" class="btn-edit-forms col-12">Cadastre-se</button>
        </a>
      </div>
    </div>
  </section>
  <section id="container-payment">

    <div class="payment">
      <h2>2.FORMA DE PAGAMENTO</h2>
      <!-- Aguardando conclusão do primeiro passo -->
      <h5>AGUARDANDO CONCLUSÃO DO PRIMEIRO PASSO</h5>
      <form action="/payment" method="get">
        <div>
          <input id="cartao" type="radio" name="pagamento" value="cartao" />
          <label for="cartao">Cartão de Credito</label>
        </div>
        <div class="card-number">
          <label for="card-number">Número do cartão</label>
          <input type="text" name="card-number" id="card-number" />
        </div>
        <div class="card-code">
          <label for="security-code">Código de segurança</label>
          <input type="number" name="security-code" id="security-code" />
        </div>
        <div class="card-validity">
          <label for="security-code">Validade</label>
          <input type="month" name="security-code" id="security-code" />
        </div>
        <div class="card-name">
          <label for="card-name">Nome do cartão</label>
          <input type="text" name="card-name" id="card-name" />
        </div>
        <div class="portion-number">
          <label for="card-number">Número de parcelas</label>
          <input type="" name="card-number" id="card-number" />
        </div>
        <div class="cards-icons">
          <img src="/img/mastercard.png" alt="mastercard">
          <img src="/img/elo 1.png" alt="elo">
          <img src="/img/visa.png" alt="visa">
          <img src="/img/bandeira amex png.png" alt="amex">

        </div>
        <div class=" outhers">
          <input id="pagseguro" type="radio" name="pagamento" value="pagseguro" />
          <label for="pagseguro">PagSeguro</label>
          <input id="boleto" type="radio" name="pagamento" value="boleto" />
          <label for="boleto">Boleto</label>
          <input id="pix" type="radio" name="pagamento" value="pix" />
          <label for="pix">PIX</label>
        </div>
      </form>
  </section>
  <section id="container-checkout">
    <div>
      <h1>3.CONCLUIR PEDIDO</h2>
    </div>
    <h3 class="container-prod">PRODUTOS</h3>
    <div class="product">
     <div class="product-checkout-final">
      <h2 >1- Café em grãos 1kg</h2>
     </div>
     <div class="product-checkout-preco" >
      <h2 >R$49,90</h2>
     </div>
    </div>
    <div class="cupons">
      <label for="cupons">Vales-presentes, troca ou cupons de desconto</label>
      <input type="text" name="cupons" id="cupons" />
    </div>
    <form action="" class="sub-pay">
     <div class="sub">
      <div>
        <h3> SUBTOTAL</h3>
      </div>
      <div class="sub-preco">
        <h4 class="end">R$49,90</h4>
      </div>
     </div>
     <div class="frete">
        <div>
        <h3>FRETE</h3>
      </div>
      <div>
        <h4>R$0,00</h4>
      </div>
     </div>
      <div class="desconto">
        <div>
         <h3>DESCONTO</h3>
        </div>
        <div>
         <h4>R$0,00</h4>
        </div>
      </div>
      <div class="total">
        <div>
         <h2>TOTAL</h2>
        </div>
        <div>
        <h2>R$49,90</h2>
        </div>
      </div>
    </form>
    <div class="finalizar">
      <button type="submit" class="btn-edit-forms col-12">Finalizar compra</button>
    </div>
  </section>

<%- include("./partials/footer")%>