<%- include("./partials/head")%>
<%- include("./partials/header")%>

<main id="error-page-main">
    <div id="error-page-text">
        <h2><%= message %></h2>
    </div>
    <div class="my-5">
        <a href="/">
            <button type="button" class="btn-edit-forms">Voltar para página inicial</button>
        </a>
    </div>

<%- include("./partials/footer")%>