<%- include("./partials/head")%>
<%- include("./partials/header")%>

<main id="container-main-login">
  <section id="container-form-login">
    <h2>Login</h2>
    <form action="">
      <div class="input-field-login">
        <input type="text" name="username" id="username" placeholder="Digite seu e-mail">
        <div class="underline"></div>
      </div>
      <div class="input-field-login">
        <input type="password" name="password" id="password" placeholder="Digite sua senha">
        <div class="underline"></div>
      </div>
      <input type="submit" value="Entrar">
      <a href="/criarConta">Não tem cadastro? <br>Crie uma conta.</a>
    </form>
  </section>

<%- include("./partials/footer")%>