<%- include("./partials/head")%>
  <%- include("./partials/header")%>

<<<<<<< HEAD
    <main id="container-main-login">
      <section id="container-form-login">
        <h2>Login</h2>
        <form action="">
          <div class="input-field-login">
            <input type="email" name="username" id="username" placeholder="Digite seu e-mail" required>
            <div class="underline"></div>
          </div>
          <div class="input-field-login">
            <input type="password" name="password" id="password" placeholder="Digite sua senha" required>
            <div class="underline"></div>
          </div>
          <button type="submit" class="btn-edit-forms">Enviar</button>
          <a href="/criarConta">Não tem cadastro? <br>Crie uma conta.</a>
        </form>
      </section>
=======
<main id="container-main-login">
  <section id="container-form-login">
    <h2>Login</h2>
    <form action="">
      <div class="input-field-login">
        <input type="email" name="username" id="username" placeholder="Digite seu e-mail" required>
        <div class="underline"></div>
      </div>
      <div class="input-field-login">
        <input type="password" name="password" id="password" placeholder="Digite sua senha" required>
        <div class="underline"></div>
      </div>
      <div class="btn-edit">
        <button class="btn-edit-login">Entrar</button>
      </div>
      <a href="/criarConta">Não tem cadastro? <br>Crie uma conta.</a>
    </form>
  </section>
>>>>>>> cecc5777b5841c1b3bce82d45ecb55da6dbb7333

      <%- include("./partials/footer")%>