<%- include("./partials/head")%>
<%- include("./partials/header")%>

<main id="main-myRequests">
  <section class="container-md">

    <div class="user-list-products card">
      <div class="card-header">
        <h3 class="card-title"> Lista de pedidos</h3>
      </div>
      <div class="card-body">
        <p class="card-text">Você não possui pedidos</p>
        <a href="#">encontre produtos de seu interesse</a>
      </div>


    </div>
  </section>

<%- include("./partials/footer")%>