<%- include("./partials/head")%>
<%- include("./partials/header")%>

<main id="not-found-main">
    <div id="not-found-text">
        <h1>Ops! Página não encontrada.</h1>
        <h2>Que tal uma pausa para um café?</h2>
    </div>
    <div id="not-found-img">
        <img src="/img/xicara_cafe.png" alt="Xícara de café">
    </div>

<%- include("./partials/footer")%>