<%- include("./partials/head")%>
<%- include("./partials/header")%>

<main id="main-personalData">
  <div class="container-md form-center">
    <h2>Meus Dados</h2>
    <form action="POST" class="row">
      <div class="form-floating col mb-3">
        <input type="email" class="form-control" id="myEmail" placeholder="jose.silva@email.com">
        <label for="myEmail" class="ps-4">E-mail</label>
      </div>

      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="fullName" placeholder="jose da siva">
        <label for="fullName" class="ps-4">Nome completo</label>
      </div>

      <div class="form-floating  mb-3">
        <input type="text" class="form-control" id="myCpf" placeholder="123.456.789-1011">
        <label for="myCpf" class="ps-4">CPF</label>
      </div>

      <div class="form-floating col-md-6 mb-3">
        <input type="text" class="form-control" id="
              indemnification" placeholder="837">
        <label for="
              indemnification" class="ps-4">RG</label>
      </div>

      <div class="form-floating col-md-6 mb-3">
        <input type="date" class="form-control" id="birthDate" placeholder="dd/mm/aaa">
        <label for="birthDate" class="ps-4">Data de nascimento</label>
      </div>

      <div class="form-floating col-md-6 mb-3">
        <input type="text" class="form-control" id="fone" placeholder="(11) 3333-5555">
        <label for="fone" class="ps-4">Telefone</label>
      </div>




      <div class="form-floating col-md-6 mb-3">
        <input type="text" class="form-control " id="foneCel" placeholder="(81) 99797-4444">
        <label for="fone" class="ps-4">Telefone celular</label>
      </div>


      <div class="form-floating mb-3">
        <select class="form-select" name="genre" id="selectd-genre">
          <option selected value="1"></option>
          <option value="2">Feminino</option>
          <option value="3">Masculino</option>
        </select>
        <label for="selectd-genre" class="ps-4">Gênero</label>
      </div>

      <div class="form-check col-md mt-3 ps-5">
        <input type="checkbox" class="form-check-input" id="checked" checked>
        <label for="checked" class="form-check-label">Desejo receber e-mails promocionais</label>
      </div>

      <div class="save-btn">
        <input type="submit" value="Salvar alterações" class="btn-edit">
      </div>


    </form>
  </div>

<%- include("./partials/footer")%>