<%- include("./partials/head")%>
<%- include("./partials/header")%>

<main>
    <section id="filter-bar-mobile">
        <div>
            <a href="">
                <button class="btn-filter-mobile">Filtrar e ordenar</button>
            </a>
        </div>
    </section>
    <section id="filter-bar-tablet-desktop">
        <div>
            <label for="filter-category">Filtrar:</label>
            <select name="filter-category" id="filter-category">
                <option value="" selected disabled>Categoria</option>
                <option value="grains">Grãos</option>
                <option value="grounds">Moídos</option>
                <option value="capsules">Cápsulas</option>
                <option value="sachets">Sachês</option>
            </select>
            <select name="filter-brand" id="filter-brand">
                <option value="" selected disabled>Marca</option>
                <option value="">Bravo Café</option>
                <option value="">Buti Coffee</option>
                <option value="">Moka</option>
            </select>
        </div>
        <div>
            <label for="filter-order">Ordenar:</label>
            <select name="filter-order" id="filter-order">
                <option value="" selected disabled>Selecione</option>
                <option value="new-products">Lançamentos</option>
                <option value="best-sellers">Mais Vendidos</option>
                <option value="lowest-price">Menor Preço</option>
                <option value="biggest-price">Maior Preço</option>
            </select>
        </div>
    </section>
    <section id="product-listing-section">
        <div class="title-section">
            <h2>Produtos</h2>
        </div>
        <ul class="product-list">
            <li class="product-listing-item col-10 col-md-6 col-lg-3">
              <a href="/produtos/detalheProduto">
                <div class="product-img">
                  <img src="/img/img_produto.jpg" alt="">
                </div>
                <h4 class="product-list-title">Café Geisha em grãos - 250g</h4>
                <p class="product-list-features">Sabor: Notas Florais, mel e rapadura</p>
                <p class="product-list-features">Torra: Média</p>
                <p class="product-list-price">R$ 29,99</p>
              </a>
              <a href="">
                <button type="button" class="add-button col-12">Adicionar à sacola</button>
              </a>
            </li>
            <li class="product-listing-item col-10 col-md-6 col-lg-3">
              <a href="/produtos/detalheProduto">
                <div class="product-img">
                  <img src="/img/img_produto2.jpg" alt="">
                </div>
                <h4 class="product-list-title">Café Geisha em grãos - 250g</h4>
                <p class="product-list-features">Sabor: Notas Florais, mel e rapadura</p>
                <p class="product-list-features">Torra: Média</p>
                <p class="product-list-price">R$ 29,99</p>
              </a>
              <a href="">
                <button type="button" class="add-button col-12">Adicionar à sacola</button>
              </a>
            </li>
            <li class="product-listing-item col-10 col-md-6 col-lg-3">
              <a href="/produtos/detalheProduto">
                <div class="product-img">
                  <img src="/img/img_produto3.jpg" alt="">
                </div>
                <h4 class="product-list-title">Café Geisha em grãos - 250g</h4>
                <p class="product-list-features">Sabor: Notas Florais, mel e rapadura</p>
                <p class="product-list-features">Torra: Média</p>
                <p class="product-list-price">R$ 29,99</p>
              </a>
              <a href="">
                <button type="button" class="add-button col-12">Adicionar à sacola</button>
              </a>
            </li>
            <li class="product-listing-item col-10 col-md-6 col-lg-3">
              <a href="/produtos/detalheProduto">
                <div class="product-img">
                  <img src="/img/img_produto4.jpg" alt="">
                </div>
                <h4 class="product-list-title">Café Geisha em grãos - 250g</h4>
                <p class="product-list-features">Sabor: Notas Florais, mel e rapadura</p>
                <p class="product-list-features">Torra: Média</p>
                <p class="product-list-price">R$ 29,99</p>
              </a>
              <a href="">
                <button type="button" class="add-button col-12">Adicionar à sacola</button>
              </a>
            </li>
            <li class="product-listing-item col-10 col-md-6 col-lg-3">
                <a href="/produtos/detalheProduto">
                  <div class="product-img">
                    <img src="/img/img_produto.jpg" alt="">
                  </div>
                  <h4 class="product-list-title">Café Geisha em grãos - 250g</h4>
                  <p class="product-list-features">Sabor: Notas Florais, mel e rapadura</p>
                  <p class="product-list-features">Torra: Média</p>
                  <p class="product-list-price">R$ 29,99</p>
                </a>
                <a href="">
                  <button type="button" class="add-button col-12">Adicionar à sacola</button>
                </a>
              </li>
              <li class="product-listing-item col-10 col-md-6 col-lg-3">
                <a href="/produtos/detalheProduto">
                  <div class="product-img">
                    <img src="/img/img_produto2.jpg" alt="">
                  </div>
                  <h4 class="product-list-title">Café Geisha em grãos - 250g</h4>
                  <p class="product-list-features">Sabor: Notas Florais, mel e rapadura</p>
                  <p class="product-list-features">Torra: Média</p>
                  <p class="product-list-price">R$ 29,99</p>
                </a>
                <a href="">
                  <button type="button" class="add-button col-12">Adicionar à sacola</button>
                </a>
              </li>
              <li class="product-listing-item col-10 col-md-6 col-lg-3">
                <a href="/produtos/detalheProduto">
                  <div class="product-img">
                    <img src="/img/img_produto3.jpg" alt="">
                  </div>
                  <h4 class="product-list-title">Café Geisha em grãos - 250g</h4>
                  <p class="product-list-features">Sabor: Notas Florais, mel e rapadura</p>
                  <p class="product-list-features">Torra: Média</p>
                  <p class="product-list-price">R$ 29,99</p>
                </a>
                <a href="">
                  <button type="button" class="add-button col-12">Adicionar à sacola</button>
                </a>
              </li>
              <li class="product-listing-item col-10 col-md-6 col-lg-3">
                <a href="/produtos/detalheProduto">
                  <div class="product-img">
                    <img src="/img/img_produto4.jpg" alt="">
                  </div>
                  <h4 class="product-list-title">Café Geisha em grãos - 250g</h4>
                  <p class="product-list-features">Sabor: Notas Florais, mel e rapadura</p>
                  <p class="product-list-features">Torra: Média</p>
                  <p class="product-list-price">R$ 29,99</p>
                </a>
                <a href="">
                  <button type="button" class="add-button col-12">Adicionar à sacola</button>
                </a>
              </li>
          </ul>
    </section>

<%- include("./partials/footer")%>    