<%- include("./partials/head")%> <%- include("./partials/header")%>

<main id="main-user">
  <section id="myCont" class="user-panel container-md">
    <div class="img-user">
      <div class="img">
        <img src="/img/TikTok.png" alt="" />
        <div class="img-edit">
          <i
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="12"
              height="12"
              fill="currentColor"
              class="bi bi-pencil"
              viewBox="0 0 16 16"
            >
              <path
                d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"
              /></svg
          ></i>
          <a href="#">Editar foto</a>
        </div>
      </div>
      <div class="img-user-login">
        <a href="#">Olá, faça seu login ou cadastre-se</a>
      </div>
    </div>
    <div class="panel-options-screen row">
      <%- include('./partials/userPanelControl')%>
      <div class="user-options--screen col-md-9">
        <div class="user-personal-data card">
          <div class="card-header titles-cards">
            <h3 class="card-title">Dados pessoais</h3>
          </div>
          <div class="card-body">
            <div class="personal-data row">
              <div class="col-md-6">
                <div class="personal-data--info">
                  <h6>Nome completo</h6>
                  <p>leon guilherme</p>
                </div>
                <div class="personal-data--info">
                  <h6>E-mail</h6>
                  <p>digitalhouse@123.com</p>
                </div>
                <div class="personal-data--info">
                  <h6>CPF</h6>
                  <p>000.000.000-00</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="personal-data--info">
                  <h6>Data de nascimento</h6>
                  <p>-</p>
                </div>
                <div class="personal-data--info">
                  <h6>Telefone celular</h6>
                  <p>-</p>
                </div>
                <div class="personal-data--info">
                  <h6>Telefone fixo</h6>
                  <p>-</p>
                </div>
              </div>
            </div>

            <div class="personal-data--btn">
              <a href="/areaDoCliente/meusDados" class="btn-edit-forms"
                >Editar meus Dados</a
              >
            </div>
          </div>
        </div>

        <div class="user-list-products card">
          <div class="card-header titles-cards">
            <h3 class="card-title">Dados do seu último pedido</h3>
          </div>
          <div class="card-body list-products--info">
            <p class="card-text">Você não possui pedidos</p>
            <a href="/" class="link-edit">encontre produtos de seu interesse</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%- include("./partials/footer")%>
</main>
