<%- include("./partials/head")%> <%- include("./partials/header")%>

<main id="main-user">
  <section id="myCont" class="user-panel container-md">
    
    <div class="panel-options-screen row">
      <%- include('./partials/userPanelControl')%>
      <div class="user-options--screen col-md-9">
        <div class="user-personal-data card">
          <div class="card-header titles-cards">
            <h3 class="card-title">Dados pessoais</h3>
          </div>
          <div class="card-body">
            <div class="personal-data row">
              <div class="col-md-6">
                <div class="personal-data--info">
                  <h6>Nome completo</h6>
                  <p>leon guilherme</p>
                </div>
                <div class="personal-data--info">
                  <h6>E-mail</h6>
                  <p>digitalhouse@123.com</p>
                </div>
                <div class="personal-data--info">
                  <h6>CPF</h6>
                  <p>000.000.000-00</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="personal-data--info">
                  <h6>Data de nascimento</h6>
                  <p>-</p>
                </div>
                <div class="personal-data--info">
                  <h6>Telefone celular</h6>
                  <p>-</p>
                </div>
                <div class="personal-data--info">
                  <h6>Telefone fixo</h6>
                  <p>-</p>
                </div>
              </div>
            </div>

            <div class="personal-data--btn">
              <a href="/areaDoCliente/meusDados" class="btn-edit-forms"
                >Editar meus Dados</a
              >
            </div>
          </div>
        </div>

        <div class="user-list-products card">
          <div class="card-header titles-cards">
            <h3 class="card-title">Dados do seu último pedido</h3>
          </div>
          <div class="card-body list-products--info">
            <p class="card-text">Você não possui pedidos</p>
            <a href="/" class="link-edit">encontre produtos de seu interesse</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%- include("./partials/footer")%>
</main>
